@import "bootstrap-icons/font/bootstrap-icons.css";
@import "./bootstrap";
@import "../fonts/fonts";
@import "./waves";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.section {
  min-height: 100vh;
  &-hello {
    position: relative;
  }
}

.gradient-icon {
  i {
    font-size: 56px;
    line-height: 1;
    background: -webkit-gradient(linear,left top,right top,from(#6541c1),color-stop(98%,#d43396),to(#d43396));
    background: linear-gradient(to right,#6541c1 0%,#d43396 98%,#d43396 100%);
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
  }
}
